<div class="chart">
    <div class="column pos-1 height-{{data[0].temp + 6}}">{{data[0].temp}} ºC</div>
    <div class="column pos-2 height-{{data[1].temp + 6}}">{{data[1].temp}} ºC</div>
    <div class="column pos-3 height-{{data[2].temp + 6}}">{{data[2].temp}} ºC</div>
    <div class="column pos-4 height-{{data[3].temp + 6}}  ">{{data[3].temp}} ºC</div>
    <div class="column pos-5 height-{{data[4].temp + 6}}">{{data[4].temp}} ºC</div>
    <div class="column pos-6 height-{{data[5].temp + 6}}">{{data[5].temp}} ºC</div>
    <div class="column pos-7 height-{{data[6].temp + 6}}">{{data[6].temp}} ºC</div>

    <div class="chart-data pos-1">{{data[0].date}}</div>
    <div class="chart-data pos-2">{{data[1].date}}</div>
    <div class="chart-data pos-3">{{data[2].date}}</div>
    <div class="chart-data pos-4">{{data[3].date}}</div>
    <div class="chart-data pos-5">{{data[4].date}}</div>
    <div class="chart-data pos-6">{{data[5].date}}</div>
    <div class="chart-data pos-7">{{data[6].date}}</div>
</div>